<div class="sticky">
  <mat-toolbar>
    <mat-toolbar-row>
      <span mat-button routerLink="/home" routerLinkActive="active" id="main-title">
        <span class="NUSSU">NUSSU</span> Logistics Management System
      </span>
      <span class="fill-remaining-space"></span>

      <div class="services" *ngIf="lc.loginStatus.value; else elseBar">
        <a mat-button routerLink="/bookings" routerLinkActive="active">Booking List</a>
        <a mat-button routerLink="/items" routerLinkActive="active">Items</a>
        <a mat-button routerLink="/templates" routerLinkActive="active">Email templates</a>
        <a mat-button routerLink="/mailer" routerLinkActive="active">Send email</a>
        <a mat-button routerLink="/confirmation_template" routerLinkActive="active">Confirmation template</a>
        <a mat-button routerLink="/edit" routerLinkActive="active">Make a Booking</a>
      </div>

      <ng-template #elseBar>
        <a mat-button routerLink="/items" routerLinkActive="active">Items</a>
        <a mat-button routerLink="/edit" routerLinkActive="active">Make a Booking</a>
        <a mat-raised-button color="accent" mat-button routerLink="/login" routerLinkActive="active">
          Admin Login
        </a>
      </ng-template>

      <a mat-button mat-raised-button color="accent">
        <app-logout></app-logout>
      </a>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar class="fast-fade" mode="indeterminate" color="accent"
    *ngIf="progressBarVisible">
  </mat-progress-bar>
</div>