<app-toolbar></app-toolbar>
<div class="container"
  style="padding-top:15px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px; height: 100%;">
  <h1 style="padding-top:10px">Booking List</h1>
  <div class="row">
    <div class="column-left">
      <p>Click each row for more details.</p>
    </div>
    <div class="column-right">
      <button mat-raised-button style="float: right;" color="primary" (click)="openWeeklySummary()">
        <mat-icon matPrefix>date_range</mat-icon>
        Weekly Summary
      </button>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="column-left">
      <h2 style="color:#777777">Filter</h2>
      <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <mat-label>Filter by name</mat-label>
        <br>
        <mat-form-field style="margin-top:10px;" appearance="legacy">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <br>
        <br>
        <br>
        <mat-label>Filter by booking date</mat-label>
        <br>
        <mat-form-field style="margin-top:10px;" appearance="legacy">
          <mat-label>From (dd/mm/yyyy)</mat-label>
          <input matInput formControlName="fromDate" class="form-control" [matDatepicker]="startpicker">
          <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker></mat-datepicker>
          <mat-error>Please enter a valid date.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-top:10px;" appearance="legacy">
          <mat-label>To (dd/mm/yyyy)</mat-label>
          <input matInput formControlName="toDate" class="form-control" [matDatepicker]="endpicker">
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
          <mat-error>Please enter a valid date.</mat-error>
        </mat-form-field>

        <br>
        <br>
        <br>
        <mat-label>Filter by booking status</mat-label>
        <br>
        <mat-form-field style="margin-top:10px;" appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" matNativeControl>
            <mat-option value="PEN">Pending</mat-option>
            <mat-option value="EVA">Evaluating</mat-option>
            <mat-option value="PRO">Processed</mat-option>
            <mat-option value="UNC">Unconfirmed</mat-option>
            <mat-option value="GET">Retrieved</mat-option>
            <mat-option value="RET">Returned</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="primary" [disabled]="!filterForm.valid">
          <mat-icon matPrefix>search</mat-icon>
          Filter
        </button>
        <button mat-raised-button style="margin-left: 10px;" color="warn" (click)="clearFilter()"
          *ngIf="checkAtLeastOneInput()" [@fade]>
          <mat-icon matPrefix>clear</mat-icon>
          Clear Filter
        </button>
      </form>
    </div>
    <div class="column-right" style="margin-bottom:20px;">
      <mat-table [dataSource]="bookings" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef [ngClass]="'w-40'" mat-sort-header>S/N</mat-header-cell>
          <mat-cell *matCellDef="let booking" [ngClass]="'w-40'">{{booking.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let booking">{{booking.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="time_booked">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Booking Date</mat-header-cell>
          <mat-cell *matCellDef="let booking">{{booking.time_booked|date: 'dd/MM/yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loan_start_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Loan date</mat-header-cell>
          <mat-cell *matCellDef="let booking">{{booking.loan_start_time|date: 'dd/MM/yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="loan_end_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Return date</mat-header-cell>
          <mat-cell *matCellDef="let booking">{{booking.loan_end_time|date: 'dd/MM/yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="deposit_left">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'w-120'"
            style="display: flex; justify-content: flex-end;">Deposit Left (S$)</mat-header-cell>
          <mat-cell *matCellDef="let booking" [ngClass]="'w-120'" style="display: flex; justify-content: flex-end;">
            {{booking.deposit_left}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'" mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let booking" [ngClass]="'w-100'">{{returnStatusString(booking.status)}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row matRipple *matRowDef="let booking; columns: tableColumns;" (click)=openDialog(booking)></mat-row>
      </mat-table>
      <div class="mat-elevation-z8" style="display: flex; background-color: white; flex-direction: row-reverse;">
        <mat-form-field style="padding-right: 1%; width: 7%;">
          <input #page matInput type="number" min="1" [max]="paginator.getNumberOfPages()"
            [value]="paginator.pageIndex + 1" (change)="onInputPageChange(page.value)">
        </mat-form-field>
        <p style="padding-right: 1%; margin: auto 0; font-size: 12px; color: #777777;">Page: </p>
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>