.container {
    background-image: url("../../assets/Blue.jpg");
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.w-40 {
    max-width: 40px;
}

.w-100 {
    margin-left: 50px;
    max-width: 100px;
}

.w-120 {
    max-width: 120px;
}

.column-left {
    float: left;
    width: 20%;
}

.column-right {
    float: right;
    width: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
