<!DOCTYPE html>
<body>
    <h1>Inspect . Book . Get</h1>
    <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
    <div class="container">
        <div class="user-button">
            <div class="img"></div>
            <a id="but-1" mat-button mat-stroked-button routerLink="../items" routerLinkActivate = "active">
                Check Item List
            </a>
            <a id="but-2" mat-button mat-stroked-button routerLink="../edit" routerLinkActivate = "active">
                Make a Booking
            </a>
        </div>
    </div>
</body>


