<!DOCTYPE html>
<title>Home</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Roboto|Quicksand|Oswald|Lato">
<body>
    <div class="container">
        <!-- section 1 of the homepage: The main contents and buttons -->
        <div class="sec1">
            <div class="main">
                <div class="left">
                    <div class="main_caption">
                        <h1>Booking made <span id="EASY">EASY</span></h1>
                        <br/>
                        <div class="paragraph">
                            <p>A few clicks is all it takes. Here, you can book any item you want, by just following 
                            some simple steps.
                            </p>
                            <p> Best experience on your desktop/laptop. Start booking now!</p>
                        </div>
                        <br/>
                    </div>

                    <div class="user_button">
                        <div class="button1">
                            <a id="but-1" mat-button mat-stroked-button routerLink="../items" routerLinkActivate = "active">
                                Check Item List
                            </a>
                            <p id="caption_1">
                                **You can check the available item for loaning here
                            </p>
                        </div>
                        <div class="button2">
                            <a id="but-2" mat-button mat-stroked-button routerLink="../edit" routerLinkActivate = "active">
                                Make a Booking
                            </a>
                            <p id="caption_2">
                                **You can start book your desired item here
                            </p>
                        </div>
                    </div>
                </div>
                <!-- The picture for main content -->
                <div class="right"></div>
            </div>

            <!-- The tutorials to let the user understand the step of booking -->
            <div class="tutorial_title">
                <div class="tutorial_icon"></div>
                <div class="tutorial_caption">Follow these simple steps to get your item</div>
            </div>

            <div class="steps">
                <div class="step1">
                    <div class="stepicon1"></div>
                    <div class="stepcaption1">Click on the booking button to start</div>
                </div>
                <div id="arrow1"></div>
                <div class="step2">
                    <div class="stepicon2"></div>
                    <div class="stepcaption2">Fill in your personal detail</div>
                </div>
                <div id="arrow2"></div>
                <div class="step3">
                    <div class="stepicon3"></div>
                    <div class="stepcaption3">Specify the item desired and the quantity</div>
                </div>
                <div id="arrow3"></div>
                <div class="step4">
                    <div class="stepicon4"></div>
                    <div class="stepcaption4">Agree the term and condition and submit</div>
                </div>
            </div>
        </div>

        <!-- section 2 of the homepage: Some good things about our logistic website -->
        <div class="sec2">
            <div class="title2">
                Why our logistic website?
            </div>
            <div class="advantages">
                <div class="ad1">
                    <div id="img1"></div>
                    <h2>SIMPLE</h2>
                    <p>The layout of our website is incredibly simple and intuitive that everyone can understand. Of course, we always care for your eyes and your mental health!</p>
                </div>
                <div class="ad2">
                    <div id="img2"></div>
                    <h2>ORGANIZE</h2>
                    <p>Hate to be messy but lazy to organize? No worry, we are here to make sure everything is in order. Your concern is always our no. 1 priority.</p>
                </div>
                <div class="ad3">
                    <div id="img3"></div>
                    <h2>FAST</h2>
                    <p>FAST, FAST, FAST! We all do not like to wait. Here, experience the fastest booking experience in your lifetime!</p>
                </div>
            </div>
            <div class="improve">
                <br/>
                <p>Not your no.1 booking experience?</p>
                <p>Let us know how to improve below!</p>
            </div>
        </div>

        <!-- section 3 of the homepage: Appreciation for user to report issue and the issue form -->
        <div class="sec3" id="sec3">
            <div class="appreciate">
                <div class="appreciate_icon"></div>
                <p>Thank you for making our website better!</p>
            </div>
              
            <form [formGroup]="issueForm">
                <mat-form-field id="name">
                    <mat-label>Name</mat-label>
                    <input matInput class="form-control" formControlName="name" required>
                </mat-form-field>

                <mat-form-field id="email">
                    <mat-label>Email</mat-label>
                    <input matInput class="form-control" formControlName="email" required>
                    <mat-error>Please enter a valid NUS email.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Issue detail</mat-label>
                    <textarea matInput class="form-control" formControlName="detail" required></textarea>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" [disabled]="!issueForm.valid">
                    Submit
                </button>
            </form>
        </div>
    </div> 
</body>