<style>
.column-left {
  float: left;
  width: 75%;
}
.column-right {
  float: right;
  width: 25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.long-input {
  width: 100%;
}
</style>

<div style="padding:20px">
<div class="row">
<div class="column-left">
<h1 style="padding-top:15px">Items List</h1>
</div>
<div class="column-right">
<mat-form-field class="long-input" appearance="outline">
  <mat-label>Search the Items...</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)">
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field>
</div>
</div>
<br>
<mat-table [dataSource]="items" class="mat-elevation-z8">
    <ng-container  matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>S/N</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.category}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.quantity}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="deposit">
        <mat-header-cell *matHeaderCellDef>Deposit(S$)</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.deposit}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.item_status}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="remark">
        <mat-header-cell *matHeaderCellDef>Remarks</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.remarks}}</mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let item; columns: tableColumns;"></mat-row>
</mat-table>
</div>
