<style>
.column-left {
  float: left;
  width: 20%;
}
.column-right {
  float: right;
  width: 80%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.long-input {
  width: 100%;
}
.fab-bottom-right{
    position: fixed !important;
    left: 20px;
    bottom: 15px;
}
</style>

<div style="padding:20px">
<div class="row">
<h1 style="padding-top:10px">Items List</h1>
<p>Click each row for item availability.</p>
<div class="column-left">
<h2 style="color:#777777">Filter</h2>

<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
<mat-label>Filter by name</mat-label>
<mat-form-field appearance="legacy">
  <mat-label>Name</mat-label>
  <input matInput class="form-control" formControlName="name">
</mat-form-field>

<br>
<mat-label>Filter by category</mat-label>
<mat-form-field appearance="legacy">
  <mat-label>Category</mat-label>
  <input matInput class="form-control" formControlName="category">
</mat-form-field>

<br>
<button type="submit" mat-raised-button color="primary">Go</button>
</form>
</div>

<div class="column-right">
<mat-table [dataSource]="items" matSort class="mat-elevation-z8">
    <ng-container  matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>S/N</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.category}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.quantity}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="deposit">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Deposit(S$)</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.deposit}}</mat-cell>
    </ng-container>
    <ng-container  matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.item_status}}</mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let item; columns: tableColumns;" (click)=openDialog(item)></mat-row>
</mat-table>
<mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>
</div>
<button mat-fab class="fab-bottom-right" color="primary" style="margin-top:20px" (click)="openCreateForm()">
  <mat-icon matPrefix>add</mat-icon>
</button>
</div>
